.single-stock-card {
    box-sizing: border-box;
    width: 35%;
    margin: 20px auto;
    
    border-style: none none none solid;
    border-color: steelblue;
    background-color: rgb(250, 250, 250);

    h2{
     color: steelblue;
    }

    a.closable{
        width: 30px;
        height: 23px;
        margin: 10px;
        text-align: center;
        text-decoration: none;
        color: white;        
        font-size: 15px;        
        float: right;
        background-color: steelblue;
        padding-top: 5px;
        border-radius: 15px;  
        &:hover{
            background-color: crimson;
        }
        
    }
    .closingTab{
        overflow: hidden;
        width: 100%;
    }

    button{
        margin: 10px;
        margin-left: 60px;  
        padding: 10px;
        font-weight: bold;
        border-style: none;
        background-color: lightsteelblue;
        color: white;
        border-radius: 5px;
        &:hover{
            cursor: pointer;
            background-color: steelblue;
        }
    }

    .testingStyle{
        display: flex;
        align-items: center;
    }

    .marketMove{
        width: 40px;
        height: 40px;
        font-size: 40px;
        font-weight: bold;
        margin-right: 10px;
        margin-left: 10px;
    }
    .red-icon {
        color: red;
    }
    .green-icon {
        color: green;
    }
  }

table{
    margin-left: 50px;
    td{
        padding: 10px;
        font-size: 18px;
    }
}
