<div class="sentiment-box">
    <div>
        <table>
            <tr>
                <th colspan="3">
                    {{ currentMonth }} {{ sentiment.year }}
                </th>
            </tr>
            <tr *ngIf="sentiment.change">
                <td class="rowTitle">Change:</td>
                <td>{{ sentiment.change }}</td>
                <td rowspan="2">
                    <mat-icon class="marketMove" [ngClass]="sentiment.change > 0 ? 'green-icon' : 'red-icon'">
                        {{ sentiment.change > 0 ? 'arrow_upward' : 'arrow_downward' }}
                    </mat-icon> 
                </td>
            </tr>
            <tr *ngIf="sentiment.change">
                <td class="rowTitle">MSPR:</td>
                <td>{{ sentiment.mspr | number:'1.2-2' }}</td>
                <td></td>
            </tr>
            <tr *ngIf="!sentiment.change">
                <td colspan="3" style="text-align:center;">No dta available</td>
            </tr>
        </table>
    </div>
</div>