
.stock-card {
    box-sizing: border-box;
    width: 55%;
    margin: 20px auto;
    padding: 10px 30px;
    box-shadow: lightgray 4px 4px 10px;
    background-color: steelblue;
    color: white;
    border-radius: 5px;
  }
  
  .stock-card {
    img {
      width: 100%;
    }
    h2 {
      margin-bottom: 0;
    }
    p {
      font-weight: 300;
      font-size: 20px;
    }
    input {
        width: 20%;
        margin: 20px auto;
    }

    button{
        margin: 0px 0px 0px 30px;     
        padding: 5px;
        font-weight: bold;
        border-radius: 10px;
        border-style: none;
    }
    button:hover:not([disabled]){
        background-color: lightsteelblue;
        cursor: pointer;
    }
}

.alert{
    padding: 2px;
    font-size: 13px;
    background-color: white;
    border-radius: 5px;
    border: solid 1px red;
    color: red;
}